<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <br>
  <!-- Begin Container -->
<div class="container-fluid">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-coffee"></span> Welcome To Coffee and A Book</h1>
            <br>
            <h2><p>Login with Facebook or Google and then search for books to trade with other users.</p></h2>
            <br>
            <h3><span class="fa fa-lock"></span> Login or Register with:</h3>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
        </div>
 </div>
 <footer>
     <% include ../partials/footer.ejs %>
  </footer>
 </body>
</html>
